In [6]:
list=[4,5,19,26,29,43]
for i in list:
    print(i)
    print(i*2)

4
8
5
10
19
38
26
52
29
58
43
86

In [11]:
i=0
for i in range(4,30,4):
    print(i)

4
8
12
16
20
24
28

In [13]:
i=0
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
i=0
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [1]:
i=0
for i in range(10,-3):
    print(i)

In [2]:
i=0
for i in range(-8,6,2):
    print(i)

-8
-6
-4
-2
0
2
4

In [4]:
name=input("동물이름을 입력하세요: ")
for char in name:
    print(char)

동물이름을 입력하세요: rabbit
r
a
b
b
i
t

In [4]:
num=int(input("구구단을 입력하세요: "))
for x in range(1,num+1):
    print(x,"th level")
    for y in range(1,10):
        print(x,"*", y, "=", x*y)

구구단을 입력하세요: 8
1 th level
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 th level
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 th level
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 th level
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 th level
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 th level
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 th level
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 th level
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [2]:
i=0
for i in range(1,9):
    print(i*"$")
for i in range(9,0,-1):
    print(i*"$")

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$
$

In [1]:
list=[["kim",90,75,70],["park",89,95,80],["choi",76,85,60]]
for

SyntaxError: invalid syntax (<ipython-input-1-1e23ef84b156>, line 2)