In [6]:
list=[4,5,19,26,29,43]
for i in list:
    print(i)
    print(i*2)

4
8
5
10
19
38
26
52
29
58
43
86

In [11]:
i=0
for i in range(4,30,4):
    print(i)

4
8
12
16
20
24
28

In [13]:
i=0
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
i=0
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
i=0
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [1]:
i=0
for i in range(10,-3):
    print(i)

In [2]:
i=0
for i in range(-8,6,2):
    print(i)

-8
-6
-4
-2
0
2
4

In [4]:
name=input("동물이름을 입력하세요: ")
for char in name:
    print(char)

동물이름을 입력하세요: rabbit
r
a
b
b
i
t

In [18]:
num=int(input("구구단을 입력하세요: "))
for x in range(1,num+1):
    for y in range(1,10):
    print(x,"*", y, "=", x*y)

IndentationError: expected an indented block (<ipython-input-18-8f9b557c188f>, line 4)

In [17]:
i=0
for i in range(1,9):
    print(i*"$")
for i in range(9,1,-1):
    print(i*"$")

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$
$$$$$$$
$$$$$$
$$$$$
$$$$
$$$
$$